<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rozdy.epidemy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.rozdy.epidemy.ui.MainMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rozdy.epidemy.ui.GameBoardActivity"
            android:label="@string/title_activity_game_board">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rozdy.epidemy.ui.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.rozdy.epidemy.ui.options.OptionsListActivity"
            android:label="@string/title_options_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rozdy.epidemy.ui.MainMenuActivity" />
        </activity>
    </application>

</manifest>
